<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--/* 이곳에 각 view가 위치합니다. */-->
    
    <!--/* config연결 */-->
    <th:block th:replace="fragments/client/config :: clientconfigFrag"></th:block> 
        
    <div>
        <div layout:fragment="header"></div>
        
        <div layout:fragment="leftsidebar"></div>
		
        <div layout:fragment="content"></div>

        <div layout:fragment="footer"></div>
    </div>
</html>