<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:frament="clientconfigFrag">
</th:block>
<th:block th:frament="client_left_side_bar">
	<div class="left_sidebar_wrap">
		<div class="nav_sidebar">
			<div class="Logo">
				<h2>HyunWeb</h2>
				<h2>Developer</h2>
			</div>
			<ul>
				<li>
					<a> Profile </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> Photofolio </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> Game </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> 생활 속 꿀팁 </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> Study </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> Youtube </a>
				</li>
			</ul>
			<ul>
				<li>
					<a> Setting </a>
				</li>
			</ul>
		</div>

	</div>
	

</th:block>