<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:frament="header">
	<div class="header_wrap">
		<div class="header_setting">
			<div class="header_Menu">
				<ul>
					<li> 1 </li>
				</ul>
				<ul>
					<li> 2 </li>
				</ul>
				<ul>
					<li> 3 </li>
				</ul>
			</div>
			<div class="header_Login_Box">
				<ul>
					<li>
						<a> Sign Up </a>
					</li>
				</ul>
				<ul>
					<li>
						<a> Login </a>
					</li>
				</ul>
			</div>
		</div>

	</div>
	

</th:block>