<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <!-- ↑ default_layout 사용 -->
    
    <title>Client Home</title>
    <!-- 검색 엔진을 위해 웹 페이지와 관련된 콤마(,)로 구분한 키워드 목록을 명시함. -->
	<meta name="keyword" content="HTML, meta, tag, element, reference">
	<!-- 웹 페이지에 대한 설명을 명시함. 검색엔진은 검색 결과에 이러한 설명을 함께 표시할 수 있습니다. -->
   	<meta name="description" content="HTML meta tag page">
   	<!-- 문서의 저자를 명시한다. -->
    <meta name="Hyun" content="HyunWeb">
    <!-- 웹 페이지에서 사용자가 볼 수 있는 영역인 뷰포트(viewport)를 제어합니다.
		이러한 뷰포트(viewport)는 장치에 따라 달라지므로, 모바일 화면은 컴퓨터 화면보다 뷰포트가 더 작아집니다.
		<meta> 요소의 viewport는 브라우저에게 해당 페이지의 면적과 비율 등을 어떻게 제어할 지에 대한 지침을 제공합니다. 따라서 다음과 같은 <meta> 요소를 모든 웹 페이지에 삽입해야만 여러분의 웹 페이지가 모든 장치에서 잘 보이게 될 것입니다.
		ex) <meta name="viewport" content="width=device-width, initial-scale=1.0">
		위의 예제에서 "width=device-width" 부분은 기기에 따라 달라지는 장치의 화면 너비에 맞게 웹 페이지의 너비를 설정합니다. 또한, "initial-scale=1.0" 부분은 브라우저에 의해 웹 페이지가 처음으로 로드될 때 초기 확대/축소 레벨을 설정합니다. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
    <body>
    
    	<!-- Header 연결 -->
        <th:block layout:fragment="header" th:include="@{/fragments/client/header}"></th:block>
		
		<th:block layout:fragment="sidebar" th:include="@{/fragments/client/client_left_side_bar}"></th:block>
		
        <div layout:fragment="content" class="content">
            
            <div class="content">
            	Content
            </div>
            
            
            
        </div>
        
        <!-- Footer 연결 -->
        <th:block layout:fragment="footer" th:include="@{/fragments/client/footer}"></th:block>	
        
    </body>
</html>