<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org">
	<!-- Admin config -->
	
	<th:block th:fragment="configFrag">
	
	<!-- ========== 라이브러리 CSS 시작 ========== -->
	
	<!-- ========== 라이브러리 CSS 종료 ========== -->
	
	<!-- ========== CUSTOM CSS 시작 ========== -->
	<link rel="stylesheet" th:href="@{/css/admin/base.css}">
	<!-- ========== CUSTOM CSS 종료 ========== -->
	
<!-- ============================================================ -->
	
	<!-- ========== 라이브러리 JS 시작 ========== -->
	
	<!-- ========== 라이브러리 JS 종료 ========== -->
	
	
	<!-- ========== CUSTOM JS 시작 ========== -->
	<!-- ========== 클라이언트 최우선 로드 ========== -->


	
	<!-- ========== CUSTOM JS 종료 ========== -->
	
	
	</th:block>
	
</html>